@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  background: -webkit-linear-gradient(90deg, #0011ff,#8c00ff);
  background: linear-gradient(90deg, #0011ff,#8c00ff);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
.footer {
  position: fixed;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}
.footer nav{
  max-width: 700px;
  margin: 0 auto;
}
.footer nav ul{
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
}
.footer nav li{
}
.footer nav a{
  text-decoration: none;
  color: white;
}